/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap');

/* Scrollbar */
/* Firefox */
* {
  scrollbar-width: 12px;
  scrollbar-color: #ff4d4a #f5ffff;
}

/* Chrome */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  margin-top: -4px;
  background: #f5ffff;
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
  background: #ff4d4a;
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #ff6e6e;
}


/* Responsive Website */
html{
  font-size: 100%;
}

@media (min-width: 500px) { html {font-size: 1.3rem;} }
@media (min-width: 860px) { html {font-size: 1.2rem;} }
@media (min-width: 1100px) { html {font-size: 1.1rem;} }

/* Tablet Landscape */
@media screen and (max-width: 1060px) {
  #container { width: 92%; }
  #nav { width: 100%; margin: 0; }
}

/* Tablet Portrait*/
@media screen and (max-width: 560px) {
  #container { width: 88%; }
  #nav { width: 100%; margin: 0; border: none; }
  #pagenav { display: none; }
}


.video-container {
  position: relative;
  padding-bottom: 40%;
  padding-top: 22.5px;
  height: 0;
  overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 75%;
  height: 100%;
}

@media (min-width: 500px){
  img.image { width: 85%; }
}

@media (min-width: 800px){
  img.image { width: 60%; }
}

/* Navigation Bar */
#nav {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #07031a;
  padding: 0;
  padding-top: 0;
  padding-bottom: 0.5%;
  padding-left: 3%;
  margin: 0;
  margin-left: -10px;
  margin-top: 0;
  z-index: 1;
}

#nav a.link{
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 0;
  display: block;
  padding-top: 13px;
  padding-bottom: 13px;
  color: white;
  font-family: 'MuseoModerno', cursive;
}

#nav ul{
  top: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#nav li.link{
  margin: 0;
  margin-right: 4%;
  padding: 0;
  padding-left: 0.2%;
  padding-right: 0.2%;
  display: inline;
  float: left;
  color: white;
  box-shadow: 1px 0px;
}

#nav li.active{
  background-color: #94caff;
}

#nav a.active{
  color: black;
}

#nav a:hover{
  color: white;
}

#nav li.link:hover{
  box-shadow: 4px 0px;
  background-color: #4f8a8b;
}

#nav img{
  margin-top: 5px;
  height: 60px;
}

#nav li.logo{
  margin-right: 4%;
  margin-top: -10px;
  margin-bottom: -22px;
  padding: 0;
  display: inline;
  float: left;
  background-color: white;
}


html{
  scroll-behavior: smooth;
}

body{
  background: linear-gradient(90deg, #f2f2f2, white, #f2f2f2);
  margin-bottom: -10px;
}

#banner img{
  width: 75%;
  margin-left: 125px;
  align-self: center;
}

#banner{
  margin-left: -0.8%;
  width: 101.4%;
  margin-top: 50px;
  background-color: black;
}

#header{
  font-size: 16px;
  margin-left: -8px;
  margin-right: -8px;
  margin-top: -80px;
  padding-left: 30px;
  padding-right: 30px;
}

#header h1{
  background-color: #41bdff;
  padding: 10px;
  color: #ff2243;
  font-family: 'Noto Sans', sans-serif;
  margin-bottom: 10px;
}

#container{
  margin: 10px;
  margin-top: 60px;
  margin-bottom: 0;
  padding: 20px;
}

@media (min-width: 500px) {
  #content {
  margin-top: 50px;
  margin: 10%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10%;
  padding-bottom: 150px;
}}

@media (min-width: 1060px) {
  #content {
  margin-top: 50px;
  margin: 10%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 20%;
  padding-bottom: 150px;
}}

#intro{
  position: relative;
  text-align: left;
  display: block;
  padding-bottom: 100px;
}

#intro img{
  width: 85%;
}

#pagenav{
  margin-top: 10px;
  position: sticky;
  top: 140px;
  float: left;
  margin-left: 7px;
}

#pagenav ul{
  list-style: none;
}

@media (min-width: 860px) { #pagenav li {padding-right: 0.3rem; margin-left: -2.5rem;} }
@media (min-width: 1100px) { #pagenav li {padding-right: 0.6rem; margin-left: -1.5rem;} }

@media (min-width: 520px) { #pagenav {display:none;} }
@media (min-width: 860px) { #pagenav {display: none;} }
@media (min-width: 1060px) { #pagenav {display: block;} }

#pagenav li a{
  padding-bottom: 0.75rem;
  background-color: #41bdff;
  padding: 6px 6px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: white;
  width: 100%;
}

#pagenav a{
  font-size: 14px;
  font-family: serif;
  text-decoration: none;
  background-color: #41bdff;
  padding: 6px 6px;
  display: inline-block;
  color: white;
}

#pagenav a:hover{
  color: black;
  text-decoration-color: blue;
}

#pagenav h4{
  color: #07031a;
  margin-bottom: 20px;
  margin-left: 15px;
}

#footer {
  position: relative;
  width: 100%;
  background-color: black;
  padding: 14px;
  padding-top: 0;
  padding-bottom: 4px;
  margin: 0;
  margin-left: -20px;
  margin-top: 0;
  margin-bottom: -20px;
  border-bottom-style: solid;
  border-bottom-width: 10px;
  border-color: black;
  z-index: 1;
}

#footer ul{
  top: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#footer img.logo{
  margin-bottom: -20px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 15px;
  display: inline;
  background-color: black;
  height: 50px;
}

#footer img.social{
  height: 40px;
}

#footer li{
  margin: 0;
  padding: 0;
  padding-left: 1%;
  padding-right: 3%;
  display: inline;
  float: left;
}

#footer a, #footer p{
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 0;
  display: block;
  padding-top: 13px;
  padding-bottom: 13px;
  color: white;
  font-family: 'MuseoModerno', cursive;
}

.head{
  font-size: 1.2rem;
  font-family: 'Philosopher', sans-serif;
}

hr.blue {
  margin-top: -1rem;
  border-width: 0.25rem;
  background-color: blue;
  border-color: blue;
  border-style: solid;
}

.p{
  padding-bottom: 25px;
  font-size: 1.15rem;
  font-family: 'Josefin Slab', serif;
  line-height: 1.5;
}

.navlink{
  text-decoration: none;
  color: red;
}

.buttonlink{
  position: absolute;
  left: 30%;
  border: none;
  font-size: 20px;
  font-family: monospace;
  font-weight: bold;
  background-color: #3080ff;
  padding: 15px 25px;
  display: inline-block;
  color: white;
  text-decoration: none;
}

h3.lesson{
  font-size: 1.5rem;
  font-family: 'Philosopher', sans-serif;
}

li.lesson{
  list-style: none;
  margin: 6px;
}

li.lesson h4{
  font-size: 1.75rem;
  font-family: 'Josefin Slab', serif;
  font-weight: 900;
}

li.lesson p{
  font-size: 1.3rem;
  font-family: 'Josefin Slab', serif;
}

.italic{
  font-size: 1.2rem;
  color: red;
}

.new{
  font-size: 1rem;
  font-family: 'Philosopher', sans-serif;
  font-style: italic;
  color: #ff2243;
}

.resources li{
  list-style: square;
  line-height: 2.5rem;
}

.resources a{
  font-size: 1.1rem;
  font-family: 'Josefin Slab', serif;
  text-decoration: underline;
  font-weight: 500;
  color: red;
}
